<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input
        type="text"
        [(ngModel)]="searchid"
        value="Sydney"
        class="form-control mr-sm-2 mt-5"
        style="float:left; width:80%;"
      />
      <button
        (click)="onClick(searchid)"
        class="btn btn-success mt-5 float-left"
      >
        Search
      </button>
    </div>
    <div class="col-md-12">Your Searched Images</div>
  </div>

  <div class="row">
    <div *ngFor="let img of videourl" class="col-3">
      <div class="card">
        <img
          src="{{ img.largeImageURL }}"
          width="30%"
          height="30%"
          alt="Image"
          class="card-img-top"
        />
      </div>
    </div>
  </div>
</div>
