<h2>Search Images</h2>
<div class="jumbotron">
  <div class="container">
    <div class="form-inline my-2 my-lg-0">
      <div class="search">
        <input
          type="text"
          id="hero-name"
          class="form-control mr-sm-2"
          style="float:left; width:80%;"
        />

        <button type="button" class="btn btn-success my-2 my-sm-0">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<!--<img [src]="imageToBeDisplayedOnTemplate" /> -->

<ul class="heroes"></ul>
